<div class="row">
    <div class="col-md-3">
        <div class="well">
            <div class=row>
                <div class="col-xs-4">
                    <div class="well">
                    
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="well">
                    
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="well">
                    
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="well">
                    
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="well">
                    
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="well">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    <div class="col-md-6">
        <div class="well">
            <div class="jumbotron text-center">
                <h1>Hello</h1>
                <h3>Hi!!!!</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="well">
        </div>
    </div>
</div>    

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="well">
            <h2 class="text-center">Регистрация 1</h2>
            <h4>Зарегистрируйтесь для лалалалалала</h4>
            <%= link_to 'Регистрация юзера', new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-success btn-lg btn-block', method: :get%>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="well">
            <h2 class="text-center">Регистрация 2</h2>
            <h4>Зарегистрируйтесь для лалалалалала</h4>
            <%= link_to 'Регистрация комп', new_company_registration_path(plan: @basic_company_plan.id), class: 'btn btn-success btn-lg btn-block', method: :get%>
        </div>
    </div>
</div>